In [12]:
import pandas as pd
extrair= "bankLimpo_0.1.xlsx"
#extração do banco de dados
ebd = pd.read_excel(extrair)



display(ebd)

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome,y
0,30,2,3,3,1,1787,1,1,2,79,1,-1,0,3,1
1,33,4,1,2,0,502,0,0,2,261,1,-1,0,0,1
2,35,7,3,1,0,229,0,0,1,97,1,-1,0,0,1
3,30,11,2,2,0,2089,1,0,2,132,1,-1,0,0,1
4,59,12,3,2,0,451,1,0,2,652,1,-1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,2,2,2,0,157,1,0,2,33,31,-1,0,0,0
4517,57,6,2,3,0,1932,1,0,0,192,32,-1,0,0,0
4518,57,12,2,1,0,0,1,0,0,29,32,-1,0,0,0
4519,28,11,2,1,0,371,1,0,2,18,44,-1,0,0,0
4520,44,11,2,2,0,280,1,1,2,65,50,-1,0,0,0

In [ ]:
import seaborn as sn
sn.set( font_scale = 1.5, rc={'figure.figsize':(20,20)})
eixo = ebd.hist(bins = 10, color='#2a9d8f')

In [34]:
# Usar o y para saber o desempenho da campanha comparando antes e depois e quantos clientes aplicaram o investimento
#quais colunas a ser usado? 
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X = ebd.iloc[:,[11,12]]
Y =  ebd.iloc[:, 14]


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=400)

modelo_rf = RandomForestClassifier(random_state=42)

modelo_rf.fit(X_train, y_train)


previsoes = modelo_rf.predict(X_test)


precisao = accuracy_score(y_test, previsoes)

print(f"{precisao}")

0.871039056742815

Até aqui implementar treino e teste, só não sei ao certo se a lógica aplicada está certa(O objetivo aqui é O numero de ligação do marketing se teve sucesso ou não, com base nas colunas "campaign","previous","y"), se não tiver me avise à respeito, chamei o modelo de Random Forest Classifier e entrou.